/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@layer components {
  .color-pedalski {
    background-color: #f7fff3;
  }
  .inter {
    font-family: 'Inter', sans-serif;
  }
  .landing-image {
    background: url('./assets/images/landing-header-image.png');
    background-size: cover;
    backdrop-filter: blur(5px);
  }
  .scroller {
    max-height: 1000px;
  }
  .color-why {
    background-color: #eeffee;
  }
}
