/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import '~hamburgers/dist/hamburgers.css';

@layer components {
  :root {
    --landing_distance_pc: 11rem;
  }
  .color-pedalski {
    background-color: #f7fff3;
  }
  .inter {
    font-family: 'Inter', sans-serif;
  }
  .landing-image {
    background: url('./assets/images/landing-header-image.png');
    background-size: cover;
    backdrop-filter: blur(5px);
  }
  .landing-image-2 {
    background: url('./assets/images/landing-image-2.png');
    background-size: cover;
    backdrop-filter: blur(5px);
  }
  .landing-image-3 {
    background: url('./assets/images/landing-image-3.png');
    background-size: fill;
    backdrop-filter: blur(5px);
    width: 100vh;
  }
  .scroller {
    max-height: 1000px;
  }
  .color-why {
    background-color: #eeffee;
  }
  .plr-landing {
    padding-left: var(--landing_distance_pc);
    padding-right: var(--landing_distance_pc);
  }
  .mlr-landing {
    margin-left: var(--landing_distance_pc);
    margin-right: var(--landing_distance_pc);
  }
  .btn {
    background: linear-gradient(
      99.11deg,
      #d8ffd8 0%,
      #c6ffc5 0.01%,
      #58c900 135.99%,
      #a1ff9f 136%,
      #e3e3e3 136.02%,
      #55c000 136.02%
    );
    border: 2px solid rgba(0, 0, 0, 0.59);
    border-radius: 15px;
  }
}
