<article
  id="landing"
  class="max-w-[1920px] relative left-1/2 -translate-x-1/2 tablet_reversa:pt-[84px]"
>
  <section
    id="landing-header"
    class="flex flex-col content-around justify-around md:gap-20 laptopish_max:landing-image md:landing-image-2 landing-image-3 px-6 img_set:bg-cover"
  >
    <section
      id="leanding-header-text"
      class="flex flex-col gap-2 justify-center text-center items-center py-4 md:py-40"
    >
      <div id="title" class="flex gap-2">
        <p class="text-7xl">
          Let the job find <span class="font-bold">YOU</span>.
        </p>
      </div>
      <div id="bottom-text">
        <p class="text-xl">
          Register as <b>employer</b> or <b>worker</b>. Get hired
          based on your <b>skill.</b>
        </p>
      </div>
    </section>

    <div
      id="items"
      class="flex flex-col pc_min:flex-row gap-3 md:gap-10 justify-between w-full max-w-[1920px] items-center py-10 ml-[50%] -translate-x-1/2 md:plr-landing"
    >
      <div
        id="item"
        class="flex flex-col md:flex-row gap-2 color-pedalski px-5 py-9 border-2 border-black rounded-xl tablet_reversa:-mt-9"
      >
        <fa-icon
          [icon]="icons.ninja"
          class="text-8xl text-red-600 flex justify-center stroke-black stroke-2"
        ></fa-icon>
        <p class="max-w-sm text-xl">
          Join as a <b>worker</b> and <b>enjoy</b> to the chance of
          being selected from one of <b>+250K</b> employers working
          for <b>ScoutIT!</b>
        </p>
      </div>
      <div
        id="item"
        class="flex flex-col md:flex-row-reverse gap-4 color-pedalski px-5 py-9 border-2 border-black rounded-xl md:max-h-max"
      >
        <fa-icon
          [icon]="icons.employer"
          class="text-8xl text-blue-600 stroke-black stroke-2 flex justify-center"
        ></fa-icon>
        <p class="max-w-sm text-xl">
          Join as an <b>employer</b> and <b>enjoy</b> selecting from
          over <b>3M</b> workers using <b>ScoutIT!</b>
        </p>
      </div>
    </div>
  </section>
  <section
    id="trusted"
    class="bg-gray-200 flex flex-col flex-wrap md:flex-row md:gap-5 justify-center items-center tablet_reversa:relative tablet_reversa:bottom-8 tablet_reversa:min-h-[450px]"
  >
    <p class="text-gray-500 font-semibold text-3xl pt-3">
      Trusted by:
    </p>
    <img
      src="../../../assets/images/facebook.png"
      alt=""
      class="w-52"
    />
    <img
      src="../../../assets/images/google.png"
      alt=""
      class="w-32"
    />
    <img
      src="../../../assets/images/netflix.png"
      alt=""
      class="w-28"
    />
    <img
      src="../../../assets/images/paypal.png"
      alt=""
      class="w-32"
    />
  </section>

  <section id="browse-by-category" class="py-12">
    <div
      class="border-black border-b-2 pb-2 flex md:mx-16 mx-8 text-5xl"
    >
      <p>Browse by category:</p>
    </div>

    <div
      id="categories"
      class="grid grid-rows-2 grid-flow-col overflow-x-scroll md:mx-16 mx-5 gap-0 ml-[25px] pt-3 pb-3"
    >
      <div
        id="category"
        class="flex flex-col w-96 px-6 py-6 color-pedalski border-2 border-black rounded-xl m-2 gap-2"
      >
        <div id="central" class="flex gap-1">
          <div id="left">
            <p class="text-4xl">MySQL</p>
            <p class="text-base mr-4">
              NodeJS is one of the most popular languages for writing
              backend.
            </p>
          </div>

          <div id="right">
            <fa-icon
              [icon]="icons.database"
              class="text-7xl"
            ></fa-icon>
          </div>
        </div>

        <div id="bottom" class="flex justify-between">
          <div id="left">
            <p>employed - <b>15</b></p>
          </div>
          <div id="right"><b>50</b> - active</div>
        </div>
      </div>

      <div
        id="category"
        class="flex flex-col w-96 px-6 py-6 color-pedalski border-2 border-black rounded-xl m-2"
      >
        <div id="central" class="flex">
          <div id="left">
            <p class="text-4xl">MySQL</p>
            <p class="text-base mr-4">
              NodeJS is one of the most popular languages for writing
              backend.
            </p>
          </div>

          <div id="right">
            <fa-icon
              [icon]="icons.database"
              class="text-7xl"
            ></fa-icon>
          </div>
        </div>

        <div id="bottom" class="flex justify-between">
          <div id="left">
            <p>employed - <b>15</b></p>
          </div>
          <div id="right"><b>50</b> - active</div>
        </div>
      </div>

      <div
        id="category"
        class="flex flex-col w-96 px-6 py-6 color-pedalski border-2 border-black rounded-xl m-2"
      >
        <div id="central" class="flex">
          <div id="left">
            <p class="text-4xl">MySQL</p>
            <p class="text-base mr-4">
              NodeJS is one of the most popular languages for writing
              backend.
            </p>
          </div>

          <div id="right">
            <fa-icon
              [icon]="icons.database"
              class="text-7xl"
            ></fa-icon>
          </div>
        </div>

        <div id="bottom" class="flex justify-between">
          <div id="left">
            <p>employed - <b>15</b></p>
          </div>
          <div id="right"><b>50</b> - active</div>
        </div>
      </div>

      <div
        id="category"
        class="flex flex-col w-96 px-6 py-6 color-pedalski border-2 border-black rounded-xl m-2"
      >
        <div id="central" class="flex">
          <div id="left">
            <p class="text-4xl">MySQL</p>
            <p class="text-base mr-4">
              NodeJS is one of the most popular languages for writing
              backend.
            </p>
          </div>

          <div id="right">
            <fa-icon
              [icon]="icons.database"
              class="text-7xl"
            ></fa-icon>
          </div>
        </div>

        <div id="bottom" class="flex justify-between">
          <div id="left">
            <p>employed - <b>15</b></p>
          </div>
          <div id="right"><b>50</b> - active</div>
        </div>
      </div>

      <div
        id="category"
        class="flex flex-col w-96 px-6 py-6 color-pedalski border-2 border-black rounded-xl m-2"
      >
        <div id="central" class="flex">
          <div id="left">
            <p class="text-4xl">MySQL</p>
            <p class="text-base mr-4">
              NodeJS is one of the most popular languages for writing
              backend.
            </p>
          </div>

          <div id="right">
            <fa-icon
              [icon]="icons.database"
              class="text-7xl"
            ></fa-icon>
          </div>
        </div>

        <div id="bottom" class="flex justify-between">
          <div id="left">
            <p>employed - <b>15</b></p>
          </div>
          <div id="right"><b>50</b> - active</div>
        </div>
      </div>

      <div
        id="category"
        class="flex flex-col w-96 px-6 py-6 color-pedalski border-2 border-black rounded-xl m-2"
      >
        <div id="central" class="flex">
          <div id="left">
            <p class="text-4xl">MySQL</p>
            <p class="text-base mr-4">
              NodeJS is one of the most popular languages for writing
              backend.
            </p>
          </div>

          <div id="right">
            <fa-icon
              [icon]="icons.database"
              class="text-7xl"
            ></fa-icon>
          </div>
        </div>

        <div id="bottom" class="flex justify-between">
          <div id="left">
            <p>employed - <b>15</b></p>
          </div>
          <div id="right"><b>50</b> - active</div>
        </div>
      </div>

      <div
        id="category"
        class="flex flex-col w-96 px-6 py-6 color-pedalski border-2 border-black rounded-xl m-2"
      >
        <div id="central" class="flex">
          <div id="left">
            <p class="text-4xl">MySQL</p>
            <p class="text-base mr-4">
              NodeJS is one of the most popular languages for writing
              backend.
            </p>
          </div>

          <div id="right">
            <fa-icon
              [icon]="icons.database"
              class="text-7xl"
            ></fa-icon>
          </div>
        </div>

        <div id="bottom" class="flex justify-between">
          <div id="left">
            <p>employed - <b>15</b></p>
          </div>
          <div id="right"><b>50</b> - active</div>
        </div>
      </div>
      <div
        id="category"
        class="flex flex-col w-96 px-6 py-6 color-pedalski border-2 border-black rounded-xl m-2"
      >
        <div id="central" class="flex">
          <div id="left">
            <p class="text-4xl">MySQL</p>
            <p class="text-base mr-4">
              NodeJS is one of the most popular languages for writing
              backend.
            </p>
          </div>

          <div id="right">
            <fa-icon
              [icon]="icons.database"
              class="text-7xl"
            ></fa-icon>
          </div>
        </div>

        <div id="bottom" class="flex justify-between">
          <div id="left">
            <p>employed - <b>15</b></p>
          </div>
          <div id="right"><b>50</b> - active</div>
        </div>
      </div>
    </div>
  </section>

  <section
    id="why"
    class="flex flex-row justify-around color-why border-2 border-black rounded-xl md:mx-16 mx-5 p-5 gap-5 my-10"
  >
    <div id="left" class="flex flex-col gap-9 font-jaldi">
      <div id="title" class="py-4">
        <p class="text-6xl">Why to choose <b>ScoutIT</b></p>
      </div>
      <div id="items" class="flex flex-col gap-8">
        <div id="item" class="gap-3 flex tablet_reversa:items-center">
          <div id="item-left">
            <fa-icon [icon]="icons.money" class="text-6xl"></fa-icon>
          </div>
          <div id="item-right">
            <p class="text-4xl pb-1">Completely <b>FREE</b></p>
            <p class="text-2xl max-w-lg">
              Since we are just in <b>demo</b> version there isn’t any
              cost to use <b>ScoutIT</b>
            </p>
          </div>
        </div>

        <div id="item" class="gap-3 flex tablet_reversa:items-center">
          <div
            id="item-left"
            class="flex tablet_reversa:items-center gap-3"
          >
            <fa-icon [icon]="icons.shield" class="text-6xl"></fa-icon>
          </div>
          <div id="item-right">
            <p class="text-4xl pb-1">Save and <b>secure</b></p>
            <p class="text-2xl max-w-lg">
              Your phone number is <b>visible</b> just for those who
              are <b>verified</b> by you
            </p>
          </div>
        </div>
        <div id="item" class="gap-3 flex tablet_reversa:items-center">
          <div
            id="item-left"
            class="flex tablet_reversa:items-center"
          >
            <fa-icon [icon]="icons.search" class="text-6xl"></fa-icon>
          </div>
          <div id="item-right">
            <p class="text-4xl pb-1">Easy to <b>find</b></p>
            <p class="text-2xl max-w-lg">
              Find exactly who you want for a
              <b>second+</b> with our search engine
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      id="img"
      class="hidden laptopish_max:flex laptopsish_max:w-[500px]"
    >
      <img src="../../../assets/images/why.png" alt="" />
    </div>
  </section>
  <section id="join-now" class="flex flex-col gap-10 justify-center">
    <section
      id="worker-wrap"
      class="flex md:justify-start justify-center"
    >
      <section
        id="worker"
        class="mx-5 tablet_reversa:justify-center md:mx-16 color-pedalski border-gray-300 flex flex-col laptopish_max:flex-row w-full md:w-max justify-between items-center gap-14 px-8 py-8 border-2"
      >
        <div id="icon">
          <fa-icon
            [icon]="icons.ninja"
            class="text-[192px] text-red-600 flex justify-center stroke-black stroke-2"
          ></fa-icon>
        </div>
        <div id="text">
          <p class="text-5xl py-4">Join as <b>worker</b></p>
          <ul class="list-disc pl-5 text-2xl flex flex-col gap-3">
            <li>More than 250K employers to hire you</li>
            <li>Multiple spheres to gain experience</li>
            <li>You don't search. <b>YOU GET SEARCHED.</b></li>
          </ul>
        </div>
        <div id="button" class="flex flex-col gap-1 text-center">
          <a href="/" class="btn text-3xl px-4 py-5"
            ><b>Join now</b></a
          >
          <p class="text-[25px]">with <b>3M</b> more</p>
        </div>
      </section>
    </section>
    <section
      id="employer-wrap"
      class="flex md:justify-end justify-center"
    >
      <section
        id="employer"
        class="mx-5 tablet_reversa:justify-center md:mx-16 color-pedalski border-gray-300 flex flex-col laptopish_max:flex-row w-full md:w-max items-center gap-14 px-8 py-8 border-2 justify-between"
      >
        <div id="icon">
          <fa-icon
            [icon]="icons.ninja"
            class="text-[192px] text-blue-600 flex justify-center stroke-black stroke-2"
          ></fa-icon>
        </div>
        <div id="text">
          <p class="text-5xl py-4">Join as <b>employer</b></p>
          <ul class="list-disc pl-5 text-2xl flex flex-col gap-3">
            <li>More than 3M wrokers to hire</li>
            <li>Lots of categories to browse</li>
            <li>Find the employee <b>you want.</b></li>
          </ul>
        </div>
        <div id="button" class="flex flex-col gap-1 text-center">
          <a href="/" class="btn text-3xl px-4 py-5"
            ><b>Join now</b></a
          >
          <p class="text-[25px]">with <b>250K</b> more</p>
        </div>
      </section>
    </section>
  </section>
</article>

<app-footer></app-footer>
