<article id="landing">
  <section id="landing-header">
    <section id="leanding-header-text">
      <p>Let the job find</p>
      <p>YOU.</p>
      <div id="items">
        <div id="item">
          <fa-icon [icon]="icons.ninja"></fa-icon>
          <p>
            Join as a worker and enjoy to the chance of being selected
            from one of +250K employers working for ScoutIT!
          </p>
        </div>
        <div id="item">
          <fa-icon [icon]="icons.ninja"></fa-icon>
          <p>
            Join as a worker and enjoy to the chance of being selected
            from one of +250K employers working for ScoutIT!
          </p>
        </div>
      </div>
    </section>
    <section id="trusted">
      <p>Trusted by:</p>
    </section>
  </section>
</article>
