<div
  id="category"
  class="flex flex-col w-96 px-6 py-6 color-pedalski border-2 border-black rounded-xl m-2 gap-2"
>
  <div id="central" class="flex gap-1">
    <div id="left">
      <p class="text-4xl">MySQL</p>
      <p class="text-base mr-4">
        NodeJS is one of the most popular languages for writing
        backend.
      </p>
    </div>

    <div id="right">
      <fa-icon [icon]="icons.database" class="text-7xl"></fa-icon>
    </div>
  </div>

  <div id="bottom" class="flex justify-between">
    <div id="left">
      <p>employed - <b>15</b></p>
    </div>
    <div id="right"><b>50</b> - active</div>
  </div>
</div>
