<header
  class="color-pedalski flex flex-row justify-between content-center items-center py-3 px-5"
>
  <div id="left">
    <p class="font-bold text-5xl">ScoutIT</p>
  </div>
  <nav>
    <ul class="hidden md:flex md:flex-row md:gap-4">
      <li class="text-3xl">
        <a href="/">Search <fa-icon [icon]="search"></fa-icon></a>
      </li>
      <li class="text-3xl font-bold"><a href="/">Sign in</a></li>
      <li class="text-3xl border-4 border-black rounded-xl font-bold">
        <a href="/">Join</a>
      </li>
    </ul>
    <button class="hamburger md:hidden" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </nav>
</header>
