<header
  class="color-pedalski flex flex-row justify-between content-center items-center py-3 px-5"
>
  <div id="left">
    <p class="font-bold text-5xl">ScoutIT</p>
  </div>
  <nav>
    <ul class="flex flex-row gap-4">
      <li class="text-3xl">
        <a href="/">Search <fa-icon [icon]="search"></fa-icon></a>
      </li>
      <li class="text-3xl font-bold"><a href="/">Sign in</a></li>
      <li class="text-3xl border-4 border-black rounded-xl font-bold">
        <a href="/">Join</a>
      </li>
    </ul>
  </nav>
</header>
