<footer>
  <section id="left">
    <p>ScoutIT</p>
    <p>&copy; 2023. All rights reserved.</p>
  </section>
  <section id="right">
    <section id="foot-item">
      <fa-icon [icon]="icons.linkedin"></fa-icon>
      <p>Scout.IT</p>
    </section>
    <section id="foot-item">
      <fa-icon [icon]="icons.facebook"></fa-icon>
      <p>Scout.IT</p>
    </section>
    <section id="foot-item">
      <fa-icon [icon]="icons.twitter"></fa-icon>
      <p>Scout.IT</p>
    </section>
  </section>
</footer>
