<footer
  class="flex px-16 justify-between py-4 color-pedalski tablet_reversa:flex-col mt-6 tablet_reversa:gap-5 tablet_reversa:items-center"
>
  <section id="left">
    <p class="text-5xl font-bold">ScoutIT</p>
    <p>&copy; 2023. All rights reserved.</p>
  </section>
  <section id="right" class="font-bold text-xl">
    <section id="foot-item" class="flex gap-1">
      <fa-icon [icon]="icons.linkedin"></fa-icon>
      <p>Scout.IT</p>
    </section>
    <section id="foot-item" class="flex gap-1">
      <fa-icon [icon]="icons.facebook"></fa-icon>
      <p>Scout.IT</p>
    </section>
    <section id="foot-item" class="flex gap-1">
      <fa-icon [icon]="icons.twitter"></fa-icon>
      <p>Scout.IT</p>
    </section>
  </section>
</footer>
