<section
  id="wrap"
  class="flex justify-center items-center min-h-[80vh]"
>
  <section
    id="not-found-page"
    class="flex justify-center items-center flex-col content-center gap-5 mx-4"
  >
    <p class="text-[100px] font-bold text-pedalski">
      4 <fa-icon [icon]="search"></fa-icon> 4
    </p>
    <p class="font-bold font-2xl text-center">
      The page you are searching for is not found.
    </p>
    <a
      href="/"
      class="bg-[#97E070] p-4 rounded-xl text-white font-bold text-center"
      >Go back home</a
    >
  </section>
</section>
